<ul>
  <% @links.each do |link| %>
    <li>
      <p>
        <%= link_to link.name, link.url %>
        <%= link.votes %>
        <%= button_to '↑', upvote_path(link), remote: true %>
      </p>
    </li>
  <% end %>
</ul>
