// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-container {
	margin-top: 8%;
}

.feed {
}

.feed-item {
	margin-bottom: 15px;
}

.votes-mod {
	color: #ECF0F1;
	display: inline-block;
	font-family: 'Helvetica Neue';
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}

.link-content {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

.link-url {
	&:hover {
		color: #F4D271;
	}
}

.btn-vote {
	background-size: 30px 30px;
	background-image: image-url("chevron.svg");
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: block;
	height: 30px;
	width: 30px;
	&:hover {
		background-image: image-url("chevron-hover.svg");
	}
}

.btn-upvote {
	@extend .btn-vote;
}

.btn-downvote {
	@extend .btn-vote;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.form-container {
	margin-top: 5%;
	margin-left: 8%;
}

.btn-new {
	border: 1px solid #ECF0F1;
	border-radius: 3px;
	display: inline-block;
	padding: 8px;
	&:hover {
		border-color: #F4D271;
		p {
			color: #F4D271;
		}
	}
}

