// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-container {
	margin: 6% 30% 0% 30%;
	width: 40%;
}

.feed {
}

.feed-item {
	margin-bottom: 15px;
}

.votes-mod {
	color: #ECF0F1;
	display: inline-block;
	font-family: 'Helvetica Neue';
	font-size: 16px;
	vertical-align: middle;
}

.link-content {
	display: inline-block;
	vertical-align: middle;
}


.btn-upvote {
	background-image: image-url("arrow241.svg");
	border: 0;
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: transparent;
}

.btn-downvote {
	background-image: image-url("expand22.svg");
	border: 0;
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: transparent;
}

